.title,
.subtitle {
  font-family: Lexend Deca;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.title {
  color: var(--main-font-color);
  font-weight: 900;
  margin: 0;
}

.subtitle {
  color: var(--secondary-font-color);
  font-weight: 300;
}

/*
.title {
  color: var(--main-font-color);
  font-family: Lexend Deca;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}



.subtitle {
  color: var(--secondary-font-color);
  font-family: Lexend Deca;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
*/
